@model List<Book>
<div id="Details"></div>
<table >
    <th>Id</th>
    <th>Title</th>
    <th>Decription</th>
    <th>Category</th>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            @if(item.Category != null)
            {
                <td>@item.Category.Name</td>
            }
            <td><a href="#" onclick="GetDetails(event, @item.Id)">Details</a></td>
        </tr>
    }
</table>

@section Scripts
{
    <script>
        function GetDetails(event, BookId){
            event.preventDefault();
            $.ajax(
                {
                    url: "/Book/PartialDetails/"+ BookId,
                    success: function (result){
                        document.getElementById("Details").innerHTML = result;
                    }
                }
            )
        }
    </script>
}